.main {
  position: relative;
  margin: 0;
  padding: 0;
}
.triangle div {
  position: absolute;
  width: 0;
  height: 0;
}
.triangle-topright div {
  border-top: 100px solid rgb(223, 15, 15);
  border-left: 100px solid transparent;
}
.triangle-topright-1 {
  transform: rotate(675deg);
  margin: 223px 773px;
}
.triangle-topright-2 {
  transform: rotate(135deg);
  margin: 226px 773px;
}
.triangle-topright-3 {
  transform: rotate(225deg);
  margin: 150px 694px;
}
.triangle-topright-4 {
  transform: rotate(45deg);
  margin: 150px 699px;
}
.triangle-topright-5 {
  transform: rotate(135deg);
  margin: 228px 620px;
}
.triangle-topright-6 {
  transform: rotate(675deg);
  margin: 223px 620px;
}
.triangle-topright-7 {
  transform: rotate(225deg);
  margin: 300px 695px;
}
.triangle-topright-8 {
  transform: rotate(45deg); 
  margin: 300px 700px;
}
.eye {
  width: 100px;
  height: 100px;
  background: rgb(248, 246, 246);
  position: absolute;
  top: 285px;
  left: 49.2%;
  transform: translate(-50%,-50%);
  border-radius: 75% 70%;
  overflow: hidden;
  
}
@keyframes mymove {
  50% {height: 100%;}
}
.ball {
position: absolute;
left: 65px;
z-index: 2;
}
.shut {
  width: 200px;
  height: 120px;
  background: rgb(253, 251, 251);
  position: absolute;
  top: 0%;
  left: -55%;
  transform:  translate(-50,-50) rotate(-44deg);
  z-index: 1;
}
.shut span {
  display: block;
  width: 100%;
  height: 3%;
  background: rgb(53, 52, 52);
  border-radius: 0 0 80% 80%;
  transition: 0.4s all;
  z-index: 4;
  animation: mymove 4s infinite linear;

}
.square {
  width: 110px;
  height: 110px;
  background: rgb(12, 12, 12);
  position: absolute;
  top: 220px;left: 45.6%;
  transform: rotate(45deg);
}
.small-triangle {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid rgb(255, 255, 255);
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 256px;left: 39%;
}
.small-triangle-2 {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid rgb(255, 255, 255);
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 256px;right: 41%;
}
.small-triangle-3 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid rgb(0, 0, 0);
  position: absolute;
  top: 390px;left: 47.9%;
}
.small-topright-4 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid rgb(0, 0, 0);
}